body {
    /* background-image: url:("./images/G7IdjxD-free-star-wars-wallpapers.jpg") */
    /* background-color: yellow; */
}

#main {
    display: block;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
    text-align: center;
}

h1 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

div .hero-image img{
    width: 500px;
    height: auto;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.search {
    margin: 40px 20px 0 0;
}

.search #info {
    position: relative;
    margin-right: 20px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    width: 300px;
    outline: none;
}

.search #info input:hover {
    cursor: text;
}

.search #begin-search {
    width: 100px;
    position: relative;
    margin-left: 20px;
    padding: 10px;
    font-size: 18 px;
    color: black;
    border-radius: 10px;
    transition: background-color .3s, color .3s; 
}

.search #begin-search:hover {
    background-color:black;
    color: white;
    cursor: pointer;
}

/* would like to add audio of lightsaber turning on when you click the above button */




/* .results-container {
    width: 60%;
    background-color: yellow;
    border: 3 px solid blue;
    margin: auto;
}

.results-container .square {
    background-color: white;
    width: 200px;
    height: 200px;
    overflow: scroll;
} */

