body {
    background-image: url("thor-alvis-6AQSaVpPCWE-unsplash.jpg");
}

/* .background-image {
    width: auto;
    margin: 100px;
    height: 50%;
} */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;  
    background-color: grey 80%;
    display: none;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
    cursor: wait;
}

.loading {
    font-size: 16px;
    color: whitesmoke;
    text-transform: uppercase;
    animation-name: pulse;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
    opacity: 1;
    }
    50% {
    opacity: .1;
    }
    100% {
    opacity: 1;
    }
}

#main {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}

#header {
    /* width: 100%; */
}

/* h1 {
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    margin: 20px 0px 20px 0px;
    color: whitesmoke;
    font-size: 48px;
    -webkit-text-stroke: 1px black;
} */

.search {
    padding: 10px;
    
}

.page-title {
    width: 100%;
    margin: auto;
    /* padding: 20px;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-title img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* .main-search input{
    padding:10px;
}
input {
    width: auto;
    position: relative;
    padding: 10px;
    font-size: 18 px;
    font-family: 'Bruno Ace SC', cursive;
    color: black;
    text-align: center;
    border-radius: 10px;
} */

#buttons {
    margin: 20px 20px 20px 0;
}

button {
    width: 100px;
    position: relative;
    margin-left: 20px;
    padding: 10px;
    font-size: 18 px;
    font-family: 'Bruno Ace SC', cursive;
    color: black;
    text-align: center;
    border-radius: 10px;
    transition: background-color .3s, color .3s; 
}

button:hover {
    background-color:black;
    color: whitesmoke;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* would like to add audio of lightsaber turning on when you click the above button */

.data-container {
    width: 100%;
    /* color: white; */
    border: 5px solid #FFE81F;
    margin: auto;
    padding: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
} 

/* .card::-webkit-scrollbar-track {
    border-radius: 20px;
  }  */

.card {
    display: flex;
    border-radius: 15px;
    width: 250px;
    height: auto;
    /* overflow: hidden; */
    margin: 15px;
    padding: 15px;
    color: whitesmoke;
    flex-wrap: wrap;
    text-align: center;
    font-size:16px;
    font-family: 'Bruno Ace SC', cursive;
    /* scrollbar-width:thin;
    scroll-margin: 5px; */
} 

.card-content {
    /* overflow: hidden; */
    border: 3px solid red;
    border-radius: 15px;
    background: rgb(6, 6, 6);
    opacity: 80%;
    padding: 0;
    margin: .5rem;
    /* height: 200px; */
}

.card:hover {
    overflow:auto;
}